

.cor-de-fundo2{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.line2{
    background-color: #08629a;
    color: #111;
}

.tira2 {
    list-style: none;
}

.cor{
    border-top: 6px solid #08629a;
    box-shadow: 10px 5px 5px rgb(74, 70, 70);;
    padding: 0;
    margin: 0;
    background-color: #08629a;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}

.card{
    flex: 0 0 calc(33.33% - 20px);
    max-width: 0 0 calc(33.33% - 20px);
    width: 100%;
    background: #08629a;
    /* border-radius: 10px; */
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid transparent;
}

.card:hover{
    border-color: #08629a;
}

@media(max-width: 600px){
    .card{
        flex:0 0 100%;
        max-width: 100%;
    }
}



.card2{
    margin-right: auto;
    justify-content: center;
    justify-content: space-between;
}